@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(250, 247, 247);
}

nav{
    width:100%;
    height: 80px;
    background-color: rgb(34, 30, 30);
    line-height: 35px;
    padding: 0px 50px;
    position:fixed;
    box-shadow: 5px 5px 5px rgb(86, 90, 92); 
}
nav .logo{
    width: 10px;
    height: 20px;
    float: left;
}
nav .icons{
    float: right;
}
nav .icons li{
    display: inline-block;
    list-style: none;
    margin-top: 30px;
}
nav .icons li a{
   
    color: white;
    padding: 0 30px;
    font-size: 20px;   
}
nav .icons li a:hover{
    color: gray;
}
nav .links{
    float: right;
    margin-right: 200px; 
}
nav .links li{
    display: inline-block;
    list-style: none;
    margin-bottom: 30px;
}
nav .links li a{
    color: white;
    margin-right: 25px;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    text-shadow: 2px 2px 5px;   
}
nav .links li a:hover{
    color: gray;
}
.bigpic{
    min-height: 80vh;
    background:url(images/full_stack_web_development_banner.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    padding-top: 8rem;
}

.bigpic .content{
    text-align: center;
    background:#d8d0d0;
    border-radius: 40px;
    padding:10px;
    max-width: 50rem;
}

.bigpic .content h3{
    font-size: 40px;
    color:var(--black);
    text-transform: uppercase;
}

.bigpic .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    padding:1rem 0;
    line-height: 1.5;
}
.html{
    width: 100%;
    padding: 30px;
    background-color: #b39be0;
}
.html img{
    height: auto;
    width: 430px;
}
.content{
    width: 550px;
}
.box{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content h1{
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: black;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button a{
    color: white;
    text-decoration: none;
}
button:hover{
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;  
}

.css{
    width: 100%;
    padding: 100px 0px;
    background-color: #b39be0;
}
.css img{
    height: auto;
    width: 430px;
}
.content1{
    width: 550px;
}
.box1{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content1 h1{
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content1 p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: black;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button a{
    color: white;
    text-decoration: none;
}
button:hover{
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;  
}

.js{
    width: 100%;
    padding: 100px 0px;
    background-color: #b39be0;
}
.js img{
    height: auto;
    width: 430px;
}
.content2{
    width: 550px;
}
.box2{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content2 h1{
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content2 p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: black;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button a{
    color: white;
    text-decoration: none;
}
button:hover{
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;  
}

.react{
    width: 100%;
    padding: 100px 0px;
    background-color: #b39be0;
}
.react img{
    height: auto;
    width: 430px;
}
.content3{
    width: 550px;
}
.box3{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content3 h1{
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content3 p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: black;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button a{
    color: white;
    text-decoration: none;
}
button:hover{
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;  
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #473c5c;
}
.footer .creation{
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 1rem;
}
.footer .creation span{
    color: orangered;
}
.footer .social-links{
    padding: 1rem;
}
.footer .social-links a{
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    font-size: 25px;
    color: rgb(19, 15, 15);
    margin: 0 25px;
    text-align: center;
}



    
    
 


